# System files
*-debug.log
.DS_Store
.angular
.idea
dist
node_modules
tmp

# Sensitive Firebase files
.firebase
.runtimeconfig.json
gha-creds-*.json

# Version side-effect files
apps/website/src/.git-info.ts
apps/website/src/.package-version.ts
