# System files
*-debug.log
.DS_Store
.angular
.idea/runConfigurations
.nx
dist/apps
dist/libs/api
dist/libs/browser
dist/libs/server
dist/libs/types
node_modules
tmp

# Sensitive Firebase files
.firebase
.runtimeconfig.json
.service-account.json
gha-creds-*.json

# Version side-effect files
apps/*/src/.gitInfoPartial.ts
apps/*/src/.packageVersion.ts
