# System files
*-debug.log
.DS_Store
.angular
.idea
.nx
.run
node_modules
tmp

# Sensitive Firebase files
.firebase
.runtimeconfig.json
gha-creds-*.json

# Version side-effect files
apps/*/src/.git-info.ts
apps/*/src/.package-version.ts

# Compiled output
dist/apps
dist/libs/api
dist/libs/browser
dist/libs/server
dist/libs/types
